/* GitHub inspired theme */
.elmsh {
	background: white;
	color: #24292e;
}

.elmsh-hl {
	background: #fffbdd;
}

.elmsh-add {
	background: #eaffea;
}

.elmsh-del {
	background: #ffecec;
}

.elmsh-strong {
	font-weight: bold;
}

.elmsh-emphasis {
	font-style: italic;
}

.elmsh1 {
	color: #969896;
}
.elmsh2 {
	color: #df5000;
}

.elmsh3 {
	color: #d73a49;
}

.elmsh4 {
	color: #0086b3;
}

.elmsh5 {
	color: #63a35c;
}

.elmsh6 {
	color: #005cc5;
}

.elmsh7 {
	color: #795da3;
}

